{% paginate search.results by 1000 %}

{%- assign max_height = 250 -%}

<div class="page-bg">
  <div class="page-width">
    <h1>Search</h1>
  </div>
</div>

<div class="page-width search-wrap">
  
  {% if search.performed == false %}

  {% else %}
    <div class="results-search">
      <h1 class="h2">
        <span class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}:</span>
        {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
      </h1>
  {% endif %}
          {% if search.performed and search.results_count == 0 %}
      {% comment %}
            <div class="rte search--no-results-found">
              <p>{{ 'general.search.no_results' | t }}</p>
            </div>
      {% endcomment %}
          {% endif %}
          <form action="{{ routes.search_url }}" method="get" role="search" class="search-form search-page-form">
            <div class="input-group input-group--nowrap">
              <div class="input-group__field input-group__field--connected search-form__input-wrapper">
                <input
                  type="search"
                  name="q"
                  value="{{ search.terms | escape }}"
                  placeholder="{{ 'general.search.placeholder' | t }}"
                  role="combobox"
                  aria-autocomplete="list"
                  aria-owns="predictive-search-results"
                  aria-expanded="false"
                  aria-label="{{ 'general.search.placeholder' | t }}"
                  aria-haspopup="listbox"
                  class="search-form__input"
                  data-search-page-predictive-search-input
                />

                <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />

                {% comment %}
                <button type="reset" class="search-form__clear-action" aria-label="{{ 'general.search.clear_search_term' | t }}" data-search-page-predictive-search-clear>
                  {% include 'icon-close' %}
                </button>
                {% endcomment %}

                <div class="predictive-search-wrapper" data-predictive-search-mount="default"></div>
              </div>

              <button type="submit" class="search-form__connected-submit" aria-label="{{ 'general.search.submit' | t }}" data-search-page-predictive-search-submit>
                {% include 'icon-search' %}
              </button>
            </div>
          </form>
  </div>
</div>


{% if search.performed %}

  <h2 class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}</h2>

<div class="page-width">
  <ul class="list-view-items">
    {% for item in search.results %}
    {% if item.object_type == 'product' %}
    <li class="list-view-item">
      {% assign product = item %}
      {% include 'product-card-grid', max_height: max_height, product: product %}
    </li>
    {% else %}

    {% endif %}
    {% endfor %}
  </ul>
</div>

  {%- if paginate.pages > 1 -%}
    {% include 'pagination', paginate: paginate %}
  {%- endif -%}
{% endif %}

{% if search.performed == false %}
<div class="page-width empty-search-text">
  <p>Use the search bar above to perform a search.</p>
</div>
{% endif %}

{% if search.performed == false %}

{% else %}
{% if search.results_count < 2  %}
  <div class="search--less-than-2-results"></div>
{% endif %}
{% endif %}

{% endpaginate %}
